title {
	color: black;
}

body {
	background: gray;
	font-family: fantasy;
}

#header {
	font-size: 60px;
	text-align: center;
	font-family: cursive;
	font-style: italic;
	padding: 15px 0;
}

#cloudPane {
	text-align: center;
	min-height: 300px;
	margin-bottom: 10px;
}

#cloudBox {
	width: 400px;
	margin: 0 auto;
}

#generating {
	padding-top: 100px;
}

#innerCloud {
	background: white;
	padding: 10px;
}

#inputPane {
	width: 350px;
	margin: 0 auto;
}

#inputBox {
	width: 350px;
	height: 30px;
	font-weight: bold;
	border: 3px solid purple;
	margin-bottom: 8px;
}

#submitButton {
	background: purple;
	font-family: fantasy;
	font-size: 20px;
	border: none;
}

#addMoreButton {
	visibility: hidden;
	background: purple;
	font-family: fantasy;
	font-size: 20px;
	border: none;
	margin-right: 5px;
}

#shareButton img{
	visibility: hidden;
	vertical-align: bottom;
	margin-right: 7px;
}

a {
	text-decoration:none;
}

.hiddenText {
	display: none;
}