title {
	color: black;
}

body {
	margin: 0;
}

#header {
	width: 100%;
	padding: 20px 0 12px 12px;
	position: fixed;
	top: 0px;
	background: white;
	border: 1px solid gray;
	box-shadow: 5px 5px 10px darkgray;
}

#searchBox {
	//text-align: center;
	display: inline-block;
}

#logo {
	margin: 0 30px -23px 0;
}

#inputBox {
	display: inline-block;
	border-width:2px;
	padding: 0 0 0 10px;
	height: 45px;
	width: 700px;
}

#submitButton {
	height:49px;
	width:80px;
	margin-top: -2px;
	background: url(img/transMagGlass.png) no-repeat center;
	vertical-align: middle;
	background-color: #01abd6;
	border: none; 
}

#cloudResult {
	margin: auto;
	max-width: 700px;
	padding-top: 160px;
}

#submitButton:hover {
	background-color: #5f95bc;
}

a {
	text-decoration:none;
}

.hiddenText {
	visibility: hidden;
}

/*
.songPageButton {
	text-align: left;
	background-color:purple;
	height:30px;
	width:80px;
}

#share-button img {
	width: 35px;
	padding: 5px;
	border: 0;
	box-shadow: 0;
}
*/