title {
	color: black;
}

body {
	background: gray;
}

#header {
	font-size: 60px;
	text-align: center;
	font-family: Comic Sans, cursive;
	font-style: italic;
	padding: 15px 0;
}

#cloudPane {
	text-align: center;
	min-height: 300px;
	margin-bottom: 10px;
}

#cloudBox {
	width: 400px;
	margin: 0 auto;
}

#generating {
	padding-top: 100px;
}

#innerCloud {
	background: white;
	padding: 10px;
}

#inputPane {
	width: 350px;
	margin: 0 auto;
}

#inputBox {
	width: 350px;
	height: 30px;
	font-weight: bold;
	border: 3px solid purple;
	margin-bottom: 8px;
}

#buttons {
	/*text-align: right;*/
}

#submitButton {
	background: purple;
	font-weight: bold;
	height: 30px;
	border: none;
}

#addMoreButton {
	visibility: hidden;
	background: purple;
	font-weight: bold;
	height: 30px;
	border: none;
	margin-right: 25px;
}

#shareButton img{
	visibility: hidden;
	vertical-align: middle;
	margin-right: 28px;
}

a {
	text-decoration:none;
}

.hiddenText {
	display: none;
}

/*
.songPageButton {
	text-align: left;
	background-color:purple;
	height:30px;
	width:80px;
}

#share-button img {
	width: 35px;
	padding: 5px;
	border: 0;
	box-shadow: 0;
}
*/