title {
	color: black;
}

body {
	/*background-color: #7F7F7F;*/
}

#header {
	width: 100%;
	text-align: center;
	padding: 100px 0 20px 0;
}

#searchBox {
	text-align: center;
}

#inputBox {
	border-width:2px;
	padding: 0 0 0 10px;
	height: 40px;
	width: 400px;
}

#cloudBox {
	text-align: center;
}

#canvas {
	/*height: 600px;
	width: 600px;*/
	text-align: center;
}


.submitButton {
	height:40px;
	width:40px;
	background: url(img/transMagGlass.png);
	vertical-align: middle;
	background-color: #01abd6;
	border: none;
}

.submitButton:hover {
	background-color: #5f95bc;
}

.songPageButton {
	text-align: left;
	background-color:purple;
	height:30px;
	width:80px;
}

#share-button img {
	width: 35px;
	padding: 5px;
	border: 0;
	box-shadow: 0;
}